.wrapper-boardin {
  background-color: black;
  height: 220vh;
  padding: 20px 150px;
}

.container-shipname {
  background-color: gray;
  padding: 50px 200px 10px 200px;

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }
}

#ship-name-select {
  width: 800px;
  height: 50px;
  color: blue;
  font-size: 30px;
  text-align: center;
  margin: 50px 0 50px 100px;
}

.ship-name-ask {
  font-weight: bold;
  margin-top: 10px;
}

.user-name-highlight {
  font-weight: bold;
  font-size: 30px;
}

.container-pickparts {
  margin-top: 30px;
  background-color: gray;
  padding: 50px 200px;

  h1 {
    font-size: 50px;
  }

  h2 {
    text-align: justify;
    font-size: 30px;
  }

  .part-name-highlight {
    font-weight: bold;
  }
}

.user-boardin-coin-block {
  font-size: 40px;
  text-shadow: 1px 1px black;
  text-align: center !important;
  background-color: rgba(100,100,100,1);
}


.coins-left-text {
  color: white;
  margin: 0;
}

.coin-boardin {
  color: gold;
}

.user-boardin-coin {
  color: gold;
}

.spend-hint {
  color: white;
  margin: 0;
}

.coins {
  border: 1px solid white;
  margin: 50px 0;

  h2 {
    margin: 0;
    padding: 20px 0;
    line-height: 1.6;
  }
}

.boardin-category-list {
  border: 2px solid black;
  background-color: $lilac;
}

.boardin-category-item {
  text-transform: uppercase;
  font-size: 25px;
  width: 220px;
  text-align: center;
  padding: 20px 0;

  &:hover {
    background-color: lightblue;
    cursor: pointer;
  }
}

.boardin-active {
  background-color: white;
  border-bottom: 5px solid red;
  color: black;
  font-weight: bold;
}

.part-pick-listing {
}

.basic-part-category-group {

}

.basic-part-listing {
  background-color: darkgrey;
  padding: 0px 0px;
  margin-bottom: 20px;
  box-shadow: 2px 2px rgba(100,100,100,1)
}

.basic-part-listing-header {
  padding-top: 30px;
}

.part-selected {
  border: 5px solid darkblue;
  background-color: lightblue !important;
}

.boardin-part-stats {
  padding: 20px 0 20px 30px;
}

.boardin-part-category {
  text-transform: uppercase;
  padding-left: 30px;
}

.boradin-part-serial {

}

.boarding-part-price {

}

.select-part-btn {
  position: relative;
  top: -10px;
}

#final-submit {
  margin-left: 500px;
  margin-top: 50px;
  width: 500px;
  height: 200px;
  font-size: 90px;
  padding-top: 40px;

}
