.equiped-parts {

}

.each-equiped-part {
  border: 3px solid green;
  margin-bottom: 5px;
}


.parts-headers {
  background-color: black;
  display: flex;
  align-items:center;
  justify-content: space-around;
  h2 {
    font-size: 20px;
    margin: 5px 0;
  }
}

.parts-footers {
  background-color:$light-gray;
  display: flex;
  align-items:center;
  justify-content: space-around;
  h2 {
    font-size: 18px;
    color: black;
    margin: 5px 0;
  }
}


.unequiped-parts {
  margin-top: 10px;
}

.each-unequiped-part   {
  border: 3px solid red;
  margin-bottom: 5px;
}

.condition-high {
  color: green;
}

.condition-med {
  color: rgba(230,220,0,1);
}

.condition-low {
  color: red;
}

.part-header-flex-iun {
  flex: 0 0 15%;

  .btn-sell {
    margin: 0 30px;  }
}

.part-header-flex-i  {
  flex: 0 0 25%;
  width: 100%;
}




