.equiped-parts {

}

.each-equiped-part {
  border: 3px solid green;
  margin-bottom: 5px;
}


.parts-headers {
  background-color: black;
  display: flex;
  align-items:center;
  justify-content: space-around;
  h2 {
    font-size: 20px;
  }
}

.parts-footers {
  background-color:$light-gray;
  display: flex;
  align-items:center;
  justify-content: space-around;
  h2 {
    font-size: 20px;
    color: black;
  }
}


.unequiped-parts {
  margin-top: 60px;
}

.each-unequiped-part   {
  border: 3px solid red;
  margin-bottom: 5px;
}

.condition-high {
  color: green;
}

.condition-med {
  color: rgba(230,220,0,1);
}

.condition-low {
  color: red;
}




