.wrapper-home {
  height: cover;
  width: auto;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.9) 80%), url('https://images.pexels.com/photos/1205301/pexels-photo-1205301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  padding: 50px 200px;
}

.container-content {
  background-color: rgba(80,80,120,0.4);
  margin: 0 auto;
  width: auto;
  // align-items: center;
  // justify-content: space-around;
  // display: flex;
  padding: 20px 20px 20px 20px;
}

.card {
  text-align: center;
  margin: 20px;
}

.row-dash {
  margin: 20px;
}

.container-picture-box  {
  flex: 1 0 50%;
  text-align: center;
  align-items: center;
  border-width: 1px;
  margin: 10px;
  height: 90%;
  display: flex;
  min-height: 100px;
  overflow: scroll;
}

.container-info-box {
  flex: 1 0 50%;
  text-align: center;
  align-items: center;
  border-width: 1px;
  margin: 10px;
  height: 90%;
  display: flex;
  min-height: 100px;
  overflow: scroll;
}

.user-avatar {
  flex: 1 0 50%;
}

.user-avatar-img {
  width: 50%;
}

.user-info {
  flex: 0 0 80%;
}

.ranking-position-art {
  font-weight: bold;
  font-size: 40px;
}

.total-points-art {
  font-weight: bold;
  font-size: 40px;
}

.container-ship-parts {
  background-color: rgba(80,80,120,0.8);
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 100px 20px 200px;
}

.ship-avatar {
  flex: 1 0 50%;
}

.ship-avatar-img {
  width: 450px;
}

.ship-parts {
  flex: 0 0 80%;
}

.spaceship-name-art {
  font-weight: bold;
  color: red;
  font-size: 30px;
}

.container-spare-parts {
  background-color: rgba(80,80,120,0.8);
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.profile-pic {
  width: 400px;
  position: relative;
  top: 0;
  left: 0;
}
.ranking {
  font-size: 70px;
  color:rgb(250, 246, 41);
  position: absolute;
  top: 330px;
  left: 271px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#nice-list {
  list-style-type: none;
}
#font-improvement {
  font-family: $ubuntu;
  color: black;
  font-size: 40px;
  position: absolute;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  top: 50%;
  left: 50%;
  transform: translate(-1%, -50%);
}
#coins-container{
  position: relative;
  text-align: center;
  color: white;
}
#ships-container{
  position: relative;
  text-align: center;
  color: white;
  border-radius: 3px;
}
#username-enhancement {
  font-size: 70px;
  color:rgb(250, 246, 41);
  position: absolute;
  top: 380px;
  left: 100px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#stats-enhancement {
  font-size: 70px;
  position: absolute;
  top: 30px;
  left: 650px;
  font-family: $ubuntu;
  color: black;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}
#title-enhancement {
  font-size: 90px;
  font-family: $ubuntu;
  color: black;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}
#your-ship-enhancement {
  font-size: 70px;
  position: absolute;
  top: 200px;
  left: 1000px;
  font-family: $ubuntu;
  color: black;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}
.img-ship {
  width: 300px;
}
#your-coins-enhancement {
  font-size: 70px;
  position: absolute;
  top: 200px;
  left: 530px;
  font-family: $ubuntu;
  color: black;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}
.wrapper-user-parts {
  background-color: lightgrey;
  padding: 100px 0 100px 0;
}
.user-parts-header {
  background-color: $blue;
  z-index: 50;

  &:hover {
    background-color: $lilac;
    cursor: pointer;
  }
}





.pilot-license {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 3px 3px gold;
  padding-bottom: 50px;
}

.pilot-license-title {

}


.pilot-picture {
  position: relative;
}

.pilot-name {
  position: absolute;
  left: 20px;
  bottom: 50px;
  font-weight: bold;
  font-size: 60px;
  color: gold;
  text-shadow: 2px 2px black;
}

.pilot-license-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px 0px 100px;
}

.pilot-stats {

}

.pilot-ship{
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.scifiideas.com/wp-content/uploads/2014/10/SPACESHIP.jpg');
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  margin-top: 50px;
  padding: 5px 100px 50px 100px;
}

.pilot-stat-tafg {
  font-size: 30px;
}


.highlight {
  font-size: 40px;
  font-weight: bold;
}

.ship-pic {
  width: 200px;
}

.stat-bar-full {
  border: 1px solid white;
  height: 40px;
  width: 500px;
}

.stat-bar-fill {
  background-color: green;
  height: 40px;
}

.ship-stat-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stat-tag {
  flex: 0 0 10%;
}

.stat-bar-full {
  flex: 0 0 90%;
  border: 1px solid white;
  height: 40px;
  width: 500px;
  background-color: black;
}

.stat-val {
  position: relative;
  left: 90px;
  bottom: 5px;
}

.ship-stats {

}

.stat-ico {
  color: white;
  font-size: 50px;
}

.fix {
  position: relative;
  right: 30px;
}





