<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/navarrovitor/spacewagons"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    <p> Just a project made in <i class="fas fa-shuttle-van"></i> Le Wagon </p>
  </div>
</div>
