<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/navarrovitor/spacewagons"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright nerdy">
    <p> A project by <i class="fab fa-jedi-order"></i> Neto, <i class="fas fa-dragon"></i> Vitor, <i class="fas fa-apple-alt"></i> Few, and <i class="fas fa-medkit"></i> Martinho </p>
  </div>
</div>
