<header class="masthead" id="animate-area">
  <div class="container d-flex h-100 align-items-center">
    <div class="text-center margins">
      <h1 class="text-uppercase">Space Wagons</h1>
      <h2 class="margins text-center">The only place in the galaxy for your spaceship parts.</h2>
      <%= link_to "Create your account", new_user_registration_path, class:"btn btn-primary js-scroll-trigger"%>
    </div>
  </div>
</header>

