<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand"><i class="fas fa-space-shuttle"></i></a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <a class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> <i class="fas fa-user-astronaut"></i></a>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <!-- TODO: Add coins from user -->
          <li><a href="#"><i class="fas fa-coins"></i>CURRENCY</a></li>
          <!-- TODO: Add pieces index link -->
          <li><a href="#"><i class="fas fa-cogs"></i>YOUR PIECES</a></li>
          <!-- TODO: Add buying pieces option -->
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
