<div class="wrapper-shipname">
  <div class="container-shipname">
    <h1>Greetings, <span class="user-name-highlight"><%= @user.username %></span></h1>
    <h2>It's time to begin your adventure. One day, you might become the best of your galaxy. Or even the best in this universe.</h2>
    <h2>Every adventurer needs a ship... <span class="ship-name-ask">What is the name of your ship?</span></h2>

    <form action="/ships" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <input type="text" name="ship_name" id="ship-name-select" placeholder="Ship name" autofocus>
      <input type="submit" id="create-ship-btn" class="btn btn-primary" value="Create Ship!">
    </form>
  </div>
</div>
