<div class="wrapper-redirect">
	<div class="container-redirect text-center">
		<%= link_to "Vitinho cuzao do caralho", player_path(current_user.id) , class: "redirect-motherfucker"%>
	</div>
</div>


