<div class="container">
  <div class="row">




      <!-- fazer um sort_by points dos users -->

    <div class="col-xs-12">
      <div class="card-rank">
        <h1>hello world</h1>





      </div>
    </div>

      <!-- fim do sort_by -->







  </div>
</div>
